body {
    background-color: rgb(255, 255, 255);
}

#logo {
    width: 50px;
    padding:3px;
    margin-left: 10px;
    margin-right: 15px;
}

.navbar-toggler {
    margin-left: 14px;
}

.nav-item-custom {
    margin-left: 15px;
}

.nav-link {
    border-bottom: 4px solid white;
    font-size: 22px;
}

.nav-link:hover {
    border-bottom: 4px solid rgb(70, 70, 70);
}

.nav-link1 {
    max-width: 65px;
}

.nav-link2 {
    max-width: 250px;
}

.nav-link3 {
    max-width: 150px;
}

.btn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: rgb(70, 70, 70);
    border-width: 2px;
}

.btn:hover {
    background-color: rgb(70, 70, 70);
    border-color: rgb(70, 70, 70);
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    background-color: black;
    color: white;
}

footer div {
    padding-top: 15px;
}

.footer-logo {
    padding: 0px;
}


.footer-logo img{
    margin: 10px;
    width: 30px;
    margin-left: 45px;
}

.footer-logo {
    grid-column: 3;
}

.footer-contact {
    grid-column: 5;
    margin-right: 25px;
    padding: 10px;
}

.footer-contact-logo1 {
    width: 25px;
}

.footer-contact-logo2 {
    width: 35px;
}

.footer-contact-logo3 {
    width: 23px;
}

.footer-copyright {
    margin-left: 25px;
    font-size: 14px;
}